{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@app"      : "./app/",
        "@config"   : "./config",
        "@internals": "./internals",
        "@packages" : "./packages",
        "@binding"  : "./bindings"
      }
    }]
  ]
}
